<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250054036519-1bff5adq0dtkdv6pcu4pm5legedkr5q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250054036519-1bff5adq0dtkdv6pcu4pm5legedkr5q5</string>
	<key>API_KEY</key>
	<string>AIzaSyCmc-MsUFFnByBn3Itqix-tA5a9FuEFkEw</string>
	<key>GCM_SENDER_ID</key>
	<string>250054036519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jetify</string>
	<key>PROJECT_ID</key>
	<string>jetify-247</string>
	<key>STORAGE_BUCKET</key>
	<string>jetify-247.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250054036519:ios:1d74f8b648aadabb255202</string>
</dict>
</plist>